input {
    beats {
        port => 5044
    }
}

filter {
    grok {
        match => { 
		 "message" => "^%{MONTHDAY:Day}\-%{MONTH:Month}\-%{YEAR:Year}\s*%{TIME:Time}\s*%{LOGLEVEL:LogType}\s%{GREEDYDATA:LogMessage}"
        }
    }
}
output {
    elasticsearch {
        hosts => ["127.0.0.1:9200"]
        index => "tomcat-index"
    }
}
